{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5 text-center">Об авторе</h1>
<div class="row">
    <div class="col-md-4 mb-3">
        <img class="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="Author">
    </div>
    <div class="col-md-8 text-justify d-flex align-items-center">
        <p>
            Через несколько дней после того, как мы поселились в «Литтл Фюрц», Лимсток начал наносить торжественные визиты. Каждый в Лимстоке имел какой-то свой отличительный признак, и все семьи выглядели «вполне счастливыми», как сказала Джоанна. Это были: мистер Симмингтон, адвокат, тонкий и сухой, с раздражительной, любящей бридж женой; доктор Гриффитс, мрачный, меланхолический врач, и его сестра – большая и радушная; викарий, образованный, забывчивый пожилой человек, и его жена – с энергичным лицом и блуждающим взглядом; богатый дилетант мистер Пай из виллы «Прайорз Лодж»; и наконец, мисс Эмили Бэртон собственной персоной, безупречная деревенская старая дева.
        </p>
    </div>
</div>
{% endblock %}