<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Лабораторная работа №2</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="p-4">
  <nav>
    <a href="{{ url_for('args') }}">Параметры URL</a> 
    <a href="{{ url_for('headers') }}">Заголовки</a> 
    <a href="{{ url_for('cookies') }}">Cookies</a> 
    <a href="{{ url_for('form') }}">Форма</a> 
    <a href="{{ url_for('phone_form') }}">Форма для номера</a>
  </nav>
  {% block content %}

  {% endblock %}
</body>
</html>
